@using WebMoney.Auth

@{
  var username = User.WebMoneyUserName();
  var isUser = User.IsInRole(nameof(Role.User));
  var isAdmin = User.IsInRole(nameof(Role.Admin));
}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&display=swap" />
  <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
  @await RenderSectionAsync("Styles", required: false)
</head>
<body>
<header class="site-header">
  <div class="site-header-inner">
    <ul class="site-header-nav">
      <li>
        <a href="/" class="site-brand">
          <img class="site-logo" src="/images/layout/logo.svg">
          WebMoney
        </a>
      </li>
      <li><a href="/#about-company" class="site-header-link">О компании</a></li>
      <li><a href="/#currency-rates" class="site-header-link">Курсы валют</a></li>
      <li><a href="/#news" class="site-header-link">Новости</a></li>
      <li><a href="/#footer-contacts" class="site-header-link">Контакты</a></li>
    </ul>
    <div class="site-header-tools">
      <select id="header-language" class="lang-select" name="language">
        <option value="ru" selected>Рус</option>
        <option value="en">Eng</option>
      </select>
      @if (!string.IsNullOrEmpty(username) && isUser)
      {
        <a href="/Card/Card" class="header-account-link">Привет, @username</a>
      }
      else if (isAdmin)
      {
        <a asp-controller="Admin" asp-action="Admin" class="header-account-link">Привет, Админ: @username</a>
      }
      else
      {
        <a href="/SignIn/SignIn" class="header-account-link">Личный кабинет</a>
      }
      @if (User.Identity?.IsAuthenticated == true)
      {
        <form asp-controller="SignOut" asp-action="LogOut" method="post">
          <button type="submit" class="header-account-link">Выйти</button>
        </form>
      }
    </div>
  </div>
</header>

@await Html.PartialAsync("_Alerts")
<main role="main">
  @RenderBody()
</main>

  <footer class="site-footer">
    <div class="footer-columns">
      <div id="footer-contacts">
        <p class="footer-contacts-title">Контакты</p>
        <p class="footer-contacts-subtitle">Служба поддержки</p>
          <dl class="footer-contacts-phones">
            <dt>Городской</dt>
            <dd>+375 17 111 11 11</dd>
            <dt>life:)</dt>
            <dd>+375 25 222 22 22</dd>
            <dt>MTC</dt>
            <dd>+375 29 333 33 33</dd>
            <dt>A1</dt>
            <dd>+375 44 444 44 44</dd>
          </dl>
      </div>
      <div class="footer-social">
        <p class="footer-social-title">Мы в соцсетях</p>
        <ul class="footer-social-list">
          <li>
            <a class="footer-social-link" href="#">
              <img class="footer-social-icon" src="/images/social_network_logos/youtube.svg">
            </a>
          </li>
          <li>
            <a class="footer-social-link" href="#">
              <img class="footer-social-icon" src="/images/social_network_logos/instagram.svg">
            </a>
          </li>
          <li>
            <a class="footer-social-link" href="#">
              <img class="footer-social-icon" src="/images/social_network_logos/linkedin.svg">
            </a>
          </li>
          <li>
            <a class="footer-social-link" href="#">
              <img class="footer-social-icon" src="/images/social_network_logos/telegram.svg">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer-copy">&copy; 2000 – 2026 «ВебМани»</p>
  </footer>
  <script src="~/js/site.js" asp-append-version="true"></script>
</body>
