@using WebMoney.Models
@model List<UserViewModel>

@{
  ViewData["Title"] = "My Profile";
}

<main class="site-main">
  <section class="user-cards-section">
    <h2 id="user-cards-heading">Мои карты</h2>
    <div class="user-cards-layout">
      @foreach (var card in Model)
      {
        <article class="user-card-block">
          <div class="bank-card" style="background-image: url('@card.Url');">
            <div class="bank-card-top">
              <span class="bank-card-label">Дебетовая</span>
            </div>
            <p class="bank-card-number">•••• &nbsp;•••• &nbsp;•••• &nbsp;4821</p>
            <div class="bank-card-bottom">
              <span class="bank-card-holder">IVAN IVANOV</span>
              <span class="bank-card-exp">09/28</span>
            </div>
          </div>
          <h3 class="card-operations-title">Операции с картой</h3>
          <ul class="card-operations-list">
            <li><a href="#">Изменить обложку</a></li>
            <li><a href="#">Перевести на другую карту</a></li>
            <li><a href="#">Пополнить карту</a></li>
            <li><a href="#">Создать платёж</a></li>
            <li><a href="#">Посмотреть историю операций</a></li>
            <li><a href="#">Заблокировать карту</a></li>
          </ul>
        </article>
      }

    </div>
  </section>
</main>